<f:layout name="Login.html" />

<f:section name="Title">Registration</f:section>

<f:section name="Content">
	<div class="login">
		<h1 class="center">Flow - Registration</h1>
		<f:form action="create" controller="Login" method="post" name="loginform" class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">User</label>
				<div class="col-sm-10">
					<f:form.textfield class="form-control" id="name" name="name" />
				</div>
			</div>
			<div class="form-group">
				<label for="pass" class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<f:form.password class="form-control" id="pass" name="pass" />
				</div>
			</div>
			<div class="form-group">
				<label for="pass2" class="col-sm-2 control-label">Password repeat</label>
				<div class="col-sm-10">
					<f:form.password class="form-control" id="pass2" name="pass2" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<f:form.submit value="Register" class="btn btn-primary"/>
				</div>
			</div>
		</f:form>
	</div>
</f:section>